
<footer class="ma marg-footer">
    <div class="container ">
      <div class="row">
        <div class="col-md-7">
          <h4 class="credit" style="color: white">Copyright © 2018  DIST  </h4>
          <p style="color: white">
         Developed & Maintained by<a href="#" style="color: #55acee !important"> <b>Janani.S & Selva Kumar.D  </b></a> 
        </p>

        </div>
        <div class="col-md-4" style="border-left: 1px solid #f1f1f1;">
          <h4 style="font-size: 18px; color: white;">Be <span style="color: #55acee">#social</span></h4>
          <a href="#" class="btn btn-social-icon btn-twitter btn-lg" style="border-radius: 0px !important; color: #42C0FB;"><span class="fa fa-twitter"></span></a>
          <a href="#" class="btn btn-social-icon btn-facebook btn-lg" style="border-radius: 0px !important; color: #3B589E;"><span class="fa fa-facebook"></span></a>
          <!--<a href="#" class="btn btn-social-icon btn-youtube btn-lg" style="border-radius: 0px !important; color:#FF0000;"><span class="fa fa-youtube-play"></span></a>-->
        </div>
        <div class="col-md-1" valign="right" align="right">
        <a class="btn pink"  href="#top"><i class="fa fa-chevron-up"></i></a>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>