<% include partials/header %>

<!-- contact -->
<div>
   <div class="col-md-2" >
		<center>
		<div id="i1" class="icon-wrapper" ><i class="fa fa-envelope custom-icon"><span class="fix-editor">&nbsp;</span></i>  </div>
		<div>distannauniv@gmail.com</div>

         </center>
    </div>
    <div class="col-md-2">
		<center>
		         <div id="i2" class="icon-wrapper" ><i class="fa fa-phone custom-icon"><span class="fix-editor">&nbsp;</span></i> </div>
		         <div>044-22358812</div>
         </center>
    </div>
    <div >
    	<center>
    	<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.356980906954!2d80.23374941407889!3d13.012924417492853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5267a1dbf3955d%3A0xa2016d5a35abce76!2sDepartment+of+Information+Science+and+Technology!5e0!3m2!1sen!2sin!4v1515091454666" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    	</center>
    </div>
    
   </div>
<div class="container" style="padding-bottom: 2%">
    
</div>
<section class="text-center" >          
            <div>
             <h3>WEB MASTERS</h3>
            </div>
           <center>
             <hr id="line" width="25%", align="left"  style="padding-bottom: 2%">
           </center> 
           
</section>
<center>
<div style="width:50%" >
   
   
          <div class="panel  white">
            <div class="panel-heading pink">
               
            </div>
<center><h1><i class="fas fa-globe"></i></h1></center>
               <a href="/staffs_pro/53">Assis Prof Dr.Selvi Ravindran</a><br>
               <a href="#">Selva Kumar D</a><br>
               <a href="#">Janani S</a>
             
            
</div>
</center>
<% include partials/footer %>