<% include partials/header %>
<style type="text/css">
/*footer*/
/*{*/
/*    position:fixed;*/
/*   left:0px;*/
/*   bottom:0px;*/
/*    padding:10px !important;*/
/*   width :100%;*/
/*}*/




.panel
{
margin-top:25px;
width:55% !important;
font-size : 20px;
}
</style>
<center>
<div class="container tab">
<% if(mes == 1 || mes==0) {%>
        <div class="panel panel-default  " >
          <div class="panel-heading pink">
         <font color="white">  B.TECH(IT) </font>
          </div>
          <div class="panel-body white">
        
         <table class="table hod table-hover table-striped tab" align="center">
             <tr>
                 <td>
                       <a href="/file-folder/R2008.pdf" download>Regulation : 2008 &nbsp&nbsp</a> - &nbsp&nbsp
                 </td>
                 <td>
                     Curriculum & Syllabi <a href="/file-folder/IT1&2.pdf" download> [ I&II SEM]</a><a href="/file-folder/IT3&4.pdf" download> [III-VIII SEM]</a>
                     
                 </td>
             </tr>
             <tr>
                 <td>
                       <a href="/file-folder/R2012.pdf" download>Regulation : 2012 &nbsp&nbsp</a>  - &nbsp&nbsp
                 </td>
                 <td>
                      <a href="/file-folder/IT2012.pdf" download> Curriculum & Syllabi</a>
                     
                 </td>
             </tr>
             <tr>
                 <td>
                       <a href="/file-folder/IT2015.pdf" download>Regulation : 2015 &nbsp&nbsp</a> - &nbsp&nbsp
                 </td>
                 <td>
                      <a href="/reg"> Curriculum & Syllabi</a>
                     
                 </td>
             </tr>
         </table>
          </div>
        </div>
   <%}%> 
    
<% if(mes == 2 || mes==0) {%>    
        <div class="panel panel-default">
          <div class="panel-heading pink">
         <font color="white">  M.TECH(IT)</font>
          </div>
          <div class="panel-body white">
         <table class="table hod table-hover table-striped tab" align="center">
             
             <tr>
                 <td><a href="/file-folder/R2013PG.pdf" download>Regulation : 2013 &nbsp&nbsp</a>  - </td>
                 <td><a href="/file-folder/TABLE2013.doc" download> Curriculum & Syllabi</a></td>
             </tr>
             <tr>
                 <td><a href="/file-folder/R2015PG.pdf" download>Regulation : 2015 &nbsp&nbsp</a> - </td>
                 <td><a href="/file-folder/TABLE2015.doc" download> Curriculum & Syllabi</a></td>
             </tr>
         </table>
         </div>
        </div>
   <%}%> 
   
    <% if(mes == 3 || mes==0) {%>    
        <div class="panel panel-default">
          <div class="panel-heading pink">
         <font color="white">  M.E(MM)</font>
          </div>
          <div class="panel-body white">
         <table class="table hod table-hover table-striped tab" align="center">
             
             <tr>
                 <td><a href="/file-folder/TABLE2015.doc" download>Regulation : 2013 &nbsp&nbsp</a>  - </td>
                 <td><a href="#"> Curriculum & Syllabi</a></td>
             </tr>
             <tr>
                 <td><a href="file-folder/TABLE2015.doc" download>Regulation : 2015 &nbsp&nbsp</a> - </td>
                 <td><a href="/reg"> Curriculum & Syllabi</a></td>
             </tr>
         </table>
          </div>
        </div>
        <%}%> 
        
    <% if(mes == 4 || mes==0) {%>    
        <div class="panel panel-default">
          <div class="panel-heading pink">
          <font color="white"> MCA(Reg & SS)</font>
          </div>
          <div class="panel-body white">
         <table class="table hod table-hover table-striped tab" align="center">
             
             <tr>
                 <td><a href="file-folder/TABLE2015.doc" download>Regulation : 2013 &nbsp&nbsp</a>  - </td>
                 <td><a href="#"> Curriculum & Syllabi</a></td>
             </tr>
             <tr>
                 <td><a href="file-folder/TABLE2015.doc" download>Regulation : 2015 &nbsp&nbsp</a> - </td>
                 <td><a href="/reg"> Curriculum & Syllabi</a></td>
             </tr>
         </table>
          </div>
        </div>
    <%}%> 
    
</div>
</center>

<% include partials/footer %>