<% include partials/header %>
<center>
<div class="panel panel-danger">
  <div class="panel-body">
    That brain of mine is something more than merely mortal, as time will show.

  </div>
  <div class="panel-footer bg-danger "  >- Ada Lovelace</div>
</div>
</center>
<div class="container">
  <div class="col-md-3 col-lg-3">
     <img  src="/images/upload_images/<%= data[0].image%>" class=" img-thumbnail  mx-auto d-block"> 
  </div>
  <div class="col-md-9 col-lg-9">
    <p>The field of information technology (IT) covers the design, administration and support of computer and telecommunications systems. Some of the positions in this field include database and network administrators, computer support specialists, computer scientists, software programmers and system analysts. The majority of career tracks in IT entail design and operational tasks related to computer hardware components, networks and software applications.
      Professionals in the IT field work with businesses and organizations to set up and support viable computer networks that will keep systems efficient and reliable. IT encompasses all hardware and software used in the storing, creation and accessing of information. Examples of technologies that professionals work with are firewalls, databases, media storage devices, networks and the Internet.</p>
  </div>
</div>


<% include partials/footer %>