<% include partials/header %>
<style type=text/css>
img {
    max-width: 100%;
    height: auto;
    margin-top:0 !important;
}
.well{
    width:50%;
    
    color:white;
    background-color:grey;
}

p{
    width:75%;
     font-size: 17px;
}
.text-center{
    margin-top:3%;
}
.caption {
    position: absolute;
    top: 45%;
    left: 30;
    width: 100%;
}
</style>

<div class="container " >
    <img src="/images/upload_images/ista.jpg" class="img-fluid img-responsive">
    <div class="caption">
        <h2 class="well well-sm">ISTA</h2>
            <h4 class="well well-sm">The Information Science and technology Association.</h4>
        </div>
</div>
<section class="text-center">          
            <div>
             <h2>About Us</h2>
            
           </div>
           <center>
             <hr id="line" width="25%", align="left"  style="padding-bottom: 2%">
           </center> 
           
</section>
<center>
<p>ISTA is the core committee of the Department of Information Science and Technology guided by Dr. T. Mala and Dr. Vijayalakshmi as President and Treasurer respectively. Other than conducting the inter and intra college tehnical symposiums, we also have kernal heads, who conduct various practises for the welfare of the department.</p>
</center>
<% include partials/footer %>