<% include partials/header %>
<style type=text/css>
.tab{
    width:80% !important;
}
.tab td{
    font-size : 17px;
    font-family: 'Noto Serif', serif;
}
.tab th{
    text-align:center;
    font-size : 20px;
}
.image
{
    width: 100px;
    height: 120px;
}

</style>

<section class="text-center">          
            <div>
             <h2>Non-Teaching Staff</h2>
            <h4>IST Department</h4>
           </div>
           <center>
             <hr id="line" width="25%", align="left"  style="padding-bottom: 2%">
           </center> 
           
</section>

<table class="table  table-hover table-striped tab" align="center"  >
      
      <tr>
          <th class="pink" >
         ADMINISTRATIVE STAFF 
         </th>
      </tr>
      <center>
               <tr >
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/no-photo.gif" class="img-thumbnail rounded image">   Mrs.M.Hamsa Rekha,   
Assistant</td>
               </tr>
  </table>
  </center>
  <table class="table hod table-hover table-striped tab" align="center"  >
      
      <tr>
          <th class="pink" colspan="4" >
         TECHNICAL STAFF
         </th>
      </tr>
      <center>
               <tr >
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/sahaya.jpg" class="img-thumbnail rounded image">  </td>
               <td width="25%"> Mr.M.Sahaya Kingsley,   MSG "C"   </td>
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/arun.jpg" class="img-thumbnail rounded image"></td>
               <td width="25%"> Mr.R.Arunprasad,  MOG "B"</td>
               </tr>
               
                <tr >
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/no-photo.gif" class="img-thumbnail rounded image">  </td>
               <td width="25%"> M.Chellappa, MOG “B”</td>
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/no-photo.gif" class="img-thumbnail rounded image"></td>
               <td width="25%"> H.Raja, MOG “B”</td>
               </tr>
               <center>
               <tr >
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/srinivas.jpg" class="img-thumbnail rounded image"></td>
               <td>	Mr.M.Srinivasan,   Lab Assistant </td>
               </tr></center>
               
  </table>
  </center>
  
  
  
<table class="table hod table-hover table-striped tab" align="center"  >
      
      <tr>
          <th class="pink" colspan="4">
            SUPPORTING STAFF 
         </th>
      </tr>
      <center>
               <tr >
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/Anto.jpg" class="img-thumbnail rounded image"> </td>
               <td width="25%">  Mr.M. Anto vizhoni, Professional Asst. I</td>
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/murali photo.jpg" class="img-thumbnail rounded image"> </td>
               <td width="25%">  Mr. N. Murali Krishnan,  Professional Asst. II</td> 
               </tr>
               <tr>
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/no-photo.gif" class="img-thumbnail rounded image">  </td>
               <td width="25%"> Mrs.K.Yesodha,   Professional Asst. II</td>
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/jakar photo.jpg" class="img-thumbnail rounded image"></td>
               <td>S.Jayakar,  Professional Asst. II</td>
               </tr>
               <center>
               <tr >
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/no-photo.gif" class="img-thumbnail rounded image"></td>
               <td>	Mrs.G.Kavitha, Professional Asst. II </td>
               </tr></center>
               
  </table>
  </center>
<table class="table hod table-hover table-striped tab" align="center"  >
      
      <tr>
          <th class="pink" colspan="4">
           Others 
         </th>
      </tr>
      <center>
               <tr >
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/guna.jpg" class="img-thumbnail rounded image"> </td>
               <td>  	Mrs.P.Gunasundari,   Sweeper</td>
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/ochai.jpg" class="img-thumbnail rounded image"> </td>
               <td>  Mrs.S.Ochaiammal,   Peon</td> 
               </tr>
               <tr>
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/dhana.jpg" class="img-thumbnail rounded image">  </td>
               <td> Mrs.M.Dhanalakshmi, Labourer</td>
               <td width="25%" height="15%" align="middle" valign="middle"><img  src="/images/upload_images/no-photo.gif" class="img-thumbnail rounded image"></td>
               <td>R.Karthikeyan, Peon</td>
               </tr>
               
  </table>
  </center>

<% include partials/footer %>