<% include partials/header %>
                 


      
<!-- catagory -->

 <section class="text-center">
           <div>
             <h2>FACULTIES</h2>
            <h4>IST Department</h4>
           </div>
           <center>
             <hr id="line" width="25%", align="left"  style="padding-bottom: 2%">
           </center>  

            
             <a style="display:block" href="/teaching">
                <div class="row123 slideanim">
                <div class="col-33">
                    <img src="/hd.png">
                    <a href="/teaching"><h4>HEAD OF THE DEPARTMENT</h4></a>
                    
                </div>
             
             </a>
             <a style="display:block" href="/teaching">
                <div class="col-33">
                    <img src="/sj2.png">
                    <h4>PROFESSORS</h4>
                    
                </div>
              </a>
              <a style="display:block" href="/teaching">
                <div class="col-33">
                    <img src="/pro.png">
                    <h4 >ASSOCIATE PROFESSORS</h4>
                    
                </div>
              </a>

            </div>
            <br><br>
            <a style="display:block" href="/teaching">
            <div class="row123 slideanim">
                <div class="col-33">
                    <img src="/ap.png">
                    <h4>ASSISTANT PROFESSORS (Senior Grade)</h4>
                    
                </div>
            </a>
            <a style="display:block" href="/teaching">
                <div class="col-33">
                    <img src="/sj.png">
                    <h4>ASSISTANT PROFESSORS</h4>
                    
                </div>
            </a>
            <a style="display:block" href="/teaching">
                <div class="col-33">
                    <img src="/sj1.png">
                    <h4>TEACHING FELLOWS</h4>
                    
                </div>
            </a>
            </div>
        </section>   
        
<% include partials/footer %>