<% include partials/header %>
<style>
.tab{
    width:75% !important;
}
.hod{
    
}
.tab td{
    font-size : 17px;
    font-family: 'Noto Serif', serif;
}
.tab th{
    text-align:center;
    font-size : 20px;
}
footer{
    margin-top: 7% !important;
}
</style>
<section class="text-center" >          
            <div>
             <h3>Technology Innovation Projects</h3>
            </div>
           <center>
             <hr id="line" width="25%", align="left"  style="padding-bottom: 2%">
           </center> 
           
</section>

<table class="table table-bordered table-hover table-striped tab" id="tabl" align="center" width="40" >
    <tr class="pink">
        <th>Sno</th>
        <th>Register Number</th>
        <th>Name</th>
        <th>Project Title</th>
    </tr>
    <tr >
       <th colspan="4"> B.TECH. IT VIIIth SEMESTER</th>
    </tr>
    <tr>
        <th rowspan="3">1</th>
        <th>2015115072</th>
        <th>Geetha L</th>
        <th rowspan="3">Intelligent System Access For The Differently Abled</th>
    </tr>
    <tr>
        <th>2015115091</th>
        <th>Mythili S</th>
    </tr>
    <tr>
        <th>2015115111</th>
        <th>Sharmila M</th>
    </tr>
     <tr>
        <th>2</th>
        <th>2015115013</th>
        <th>Gokul K L</th>
        <th>Obstacle avoidance and guidance system for autonomous ground vehicle.</th>
    </tr>
    <tr>
        <th rowspan="3">3</th>
        <th>2015115005</th>
        <th>Ambareesh R</th>
        <th rowspan="3">Stance Classification and Determining Veracity of Rumours using Deep Learning</th>
    </tr>
    <tr>
        <th>2015115037</th>
        <th>Poorna K N</th>
    </tr>
    <tr>
        <th>2015115066</th>
        <th>Areefkhan B</th>
    </tr>
    <tr>
        <th rowspan="3">4</th>
        <th>2015115006</th>
        <th>Anandhi R</th>
        <th rowspan="3">Vehicle Authentication and Localization in IoT Environment</th>
    </tr>
    <tr>
        <th>2015115033</th>
        <th>Nisha.N.V </th>
    </tr>
    <tr>
        <th>2015115078</th>
        <th>Jayabharathi S</th>
    </tr>
    <tr>
        <th rowspan="3">5</th>
        <th>2015115048</th>
        <th>Saravanan R</th>
        <th rowspan="3">Image Inpainting Using Partial Convolution</th>
    </tr>
    <tr>
        <th>2015115054</th>
        <th>Soundarya R</th>
    </tr>
    <tr>
        <th>2015115119</th>
        <th>Yogalakshmi K</th>
    </tr>
    <tr>
        <th rowspan="3">6</th>
        <th>2015115018</th>
        <th>Janani S</th>
        <th rowspan="3">Automatic Question Paper Scrutinizer based on Blooms taxonomy</th>
    </tr>
    <tr>
        <th>2015115050</th>
        <th>Selva Kumar D</th>
    </tr>
    <tr>
        <th>2015115118</th>
        <th>Venkatesh M</th>
    </tr>
</table>
<% include partials/footer %>