<% include partials/header %>
<div class="container" align="justify">
	<h2 align="center" style="font-weight:500"><font color="#036696">Vision of the Department</font></h2><br>
<p style="color:black;font-size: 20px">The Department of Information Science and Technology pledges to educate students with
conceptual knowledge and technical skills to forge ahead in the field of IT, 
while inculcating deep moral and ethical values to achieve excellence, 
by providing a vibrant academic and research environment in collaboration
with industry.</p>
</div>
<div class="container">
    <div class="container">
	<h2 align="center" style="font-weight:500"><font color="#036696">Mission of the Department</font></h2><br>
<ol style="color:black;padding-bottom:20px;font-size: 20px;"align="justify"><h3></h3>
    <li> To inculcate in students a firm foundation in theory and practice of IT skills coupled with the thought process for disruptive innovation and research methodologies, to keep pace with emerging technologies.</li>
    <li> To provide a conducive environment for all academic, administrative and interdisciplinary research activities using state-of-the-art technologies.</li>
    <li>To produce graduates and doctorates, who will enter the workforce as productive IT engineers, researchers and entrepreneurs with necessary soft skills, and continue higher professional education with competence in the global market.</li>
    <li>To enable seamless collaboration with the IT industry and Government for consultancy and sponsored research.</li>
    <li>To cater to cross-cultural, multinational and demographic diversity of students.</li>
    <li>To educate the students on the social, ethical, and moral values needed to make significant 
contributions to society.</li>
</ol>
</div>
</div>
<% include partials/footer %>